/* Tablet view responsive */
@media (min-width: 768px) and (max-width:1024px){
    .navbar{
        width: 80%;
    }
    .service-colmn{
        margin-right: 20px;
    }
}
@media (max-width: 767px) {
    .navbar {
        padding: 1rem;
        width: 80%;
        left: 0;
        transform: none;
        margin-left: 77px;
    }
    .logo{
        margin-right: 74px;
    }
    .intro h1 {
        font-size: 2.5rem;
        margin: 0;
        text-align: center;
    }

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .services-grid {
        gap: 0px;
    }
    .service-colmn{
        margin-right: 7px;
        margin-top: -77px;
    }
    .explore-content {
        bottom: 20px;
        left: 20px;
    }

    .contact-form {
        padding: 1rem;
    }

    .form-inputs {
        align-items: stretch;
    }

    .submit-btn {
        width: 50%;
    }

    .footer-content {
        text-align: center;
    }
}

/* Mobile view responsive */

@media (max-width: 480px) {
    .navbar{
        margin-left: 5px;
        width: 95%;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        gap: 2px;
    }
    .nav-links a{
        margin-right: -5px;
    }
    .logo{
        margin-left: 40px;
    }
    .intro h1 {
        font-size: 2rem;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .services h2, .about-content h2 {
        font-size: 1.2rem;
    }

    .services-grid, .explore-container {
        padding: 0;
        gap: 10px;
    }
    .service-column{
        margin-right: 5px;
        margin-top: -63px;
    }
    .service-colmn {
        margin-right: -50px;
        margin-top: -70px;
    }
    .explore-content {
        bottom: 10px;
        left: 10px;
    }
    .contact h3{
        margin-left: 110px;
    }
    .contact p{
        margin-right: 35px;
    }
    .contact-form {
        margin: 0;
        padding: 1rem;
    }

    .form-inputs {
        margin-left: 88px;
        gap: 0.5rem;
    }

    .submit-btn {
        margin-left: 9px;
        font-size: 0.9rem;
    }
    .skip-btn{
        margin-left: 9px;

    }
}

/* Ensure all images are responsive */

img {
    max-width: 100%;
    height: auto;
}
